In [11]:
# Imports
from pathlib import Path
import pandas as pd
import geopandas as gpd
from fastparquet import ParquetFile

In [2]:
# Import shapefiles

# Countries
shp0_Kenya = gpd.read_file("data/gadm36_KEN_0.shp")
shp0_Ethiopia = gpd.read_file("data/gadm36_ETH_0.shp")
shp0_Somalia = gpd.read_file("data/gadm36_SOM_0.shp")

# Regions1
shp1_Kenya = gpd.read_file("data/gadm36_KEN_1.shp")
shp1_Ethiopia = gpd.read_file("data/gadm36_ETH_1.shp")
shp1_Somalia = gpd.read_file("data/gadm36_SOM_1.shp")

# Regions2
shp2_Kenya = gpd.read_file("data/gadm36_KEN_2.shp")
shp2_Ethiopia = gpd.read_file("data/gadm36_ETH_2.shp")
shp2_Somalia = gpd.read_file("data/gadm36_SOM_2.shp")

# Regions3
shp3_Kenya = gpd.read_file("data/gadm36_KEN_3.shp")
shp3_Ethiopia = gpd.read_file("data/gadm36_ETH_3.shp")
#shp3_Somalia = gpd.read_file("data/gadm36_SOM_3.shp") #doesn't exist

In [3]:
gdf_countries_list = [shp0_Kenya, shp0_Ethiopia, shp0_Somalia]
countries = gpd.GeoDataFrame(pd.concat(gdf_countries_list, ignore_index=True))
countries["locationID"] = countries["GID_0"]
countries["name"] = countries["NAME_0"]
countries["hierarchy"] = 0
countries["type"] = "Country"
countries = countries[["locationID", "name", "hierarchy", "type", "GID_0", "NAME_0"]]
countries.head()

  locationID      name  hierarchy     type GID_0    NAME_0
0        KEN     Kenya          0  Country   KEN     Kenya
1        ETH  Ethiopia          0  Country   ETH  Ethiopia
2        SOM   Somalia          0  Country   SOM   Somalia

In [4]:
gdf_region1_list = [shp1_Kenya, shp1_Ethiopia, shp1_Somalia]
region1 = gpd.GeoDataFrame(pd.concat(gdf_region1_list, ignore_index=True))
region1["locationID"] = region1["GID_1"]
region1["name"] = region1["NAME_1"]
region1["type"] = "Region1"
region1["hierarchy"] = 1
region1 = region1[["locationID", "name", "hierarchy", "type", "GID_0", "NAME_0", "GID_1", "NAME_1"]]
print(region1.head())

  locationID             name  hierarchy     type GID_0 NAME_0    GID_1  \
0    KEN.1_1          Baringo          1  Region1   KEN  Kenya  KEN.1_1
1    KEN.2_1            Bomet          1  Region1   KEN  Kenya  KEN.2_1
2    KEN.3_1          Bungoma          1  Region1   KEN  Kenya  KEN.3_1
3    KEN.4_1            Busia          1  Region1   KEN  Kenya  KEN.4_1
4    KEN.5_1  Elgeyo-Marakwet          1  Region1   KEN  Kenya  KEN.5_1

            NAME_1
0          Baringo
1            Bomet
2          Bungoma
3            Busia
4  Elgeyo-Marakwet

In [5]:
gdf_region2_list = [shp2_Kenya, shp2_Ethiopia, shp2_Somalia]
region2 = gpd.GeoDataFrame(pd.concat(gdf_region2_list, ignore_index=True))
region2["locationID"] = region2["GID_2"]
region2["name"] = region2["NAME_2"]
region2["type"] = "Region2"
region2["hierarchy"] = 2
region2 = region2[["locationID", "name", "hierarchy", "type", "GID_0", "NAME_0", "GID_1", "NAME_1", "GID_2", "NAME_2"]]
print(region2.head())

  locationID             name  hierarchy     type GID_0 NAME_0    GID_1  \
0  KEN.1.1_1              805          2  Region2   KEN  Kenya  KEN.1_1
1  KEN.1.2_1  Baringo Central          2  Region2   KEN  Kenya  KEN.1_1
2  KEN.1.3_1    Baringo North          2  Region2   KEN  Kenya  KEN.1_1
3  KEN.1.4_1    Baringo South          2  Region2   KEN  Kenya  KEN.1_1
4  KEN.1.5_1    Eldama Ravine          2  Region2   KEN  Kenya  KEN.1_1

    NAME_1      GID_2           NAME_2
0  Baringo  KEN.1.1_1              805
1  Baringo  KEN.1.2_1  Baringo Central
2  Baringo  KEN.1.3_1    Baringo North
3  Baringo  KEN.1.4_1    Baringo South
4  Baringo  KEN.1.5_1    Eldama Ravine

In [6]:
gdf_region3_list = [shp3_Kenya, shp3_Ethiopia]
region3 = gpd.GeoDataFrame(pd.concat(gdf_region3_list, ignore_index=True))
region3["locationID"] = region3["GID_3"]
region3["name"] = region3["NAME_3"]
region3["hierarchy"] = 3
region3["type"] = "Region3"
region3 = region3[["locationID", "name", "hierarchy", "type", "GID_0", "NAME_0", "GID_1", "NAME_1", "GID_2", "NAME_2", "GID_3", "NAME_3"]]
print(region3.head())

    locationID             name  hierarchy     type GID_0 NAME_0    GID_1  \
0  KEN.1.1.1_1           Lembus          3  Region3   KEN  Kenya  KEN.1_1
1  KEN.1.2.1_1  Ewalel/Chapchap          3  Region3   KEN  Kenya  KEN.1_1
2  KEN.1.2.2_1         Kabarnet          3  Region3   KEN  Kenya  KEN.1_1
3  KEN.1.2.3_1        Kapropita          3  Region3   KEN  Kenya  KEN.1_1
4  KEN.1.2.4_1            Sacho          3  Region3   KEN  Kenya  KEN.1_1

    NAME_1      GID_2           NAME_2        GID_3           NAME_3
0  Baringo  KEN.1.1_1              805  KEN.1.1.1_1           Lembus
1  Baringo  KEN.1.2_1  Baringo Central  KEN.1.2.1_1  Ewalel/Chapchap
2  Baringo  KEN.1.2_1  Baringo Central  KEN.1.2.2_1         Kabarnet
3  Baringo  KEN.1.2_1  Baringo Central  KEN.1.2.3_1        Kapropita
4  Baringo  KEN.1.2_1  Baringo Central  KEN.1.2.4_1            Sacho

In [7]:
gdf_all_list = [countries, region1, region2, region3]
gdf_all = gpd.GeoDataFrame(pd.concat(gdf_all_list, ignore_index=True))
gdf_all = gdf_all[['locationID', 'name', 'type', 'hierarchy', 'GID_0', 'GID_1', 'GID_2', 'GID_3', 'NAME_0', 'NAME_1', 'NAME_2',
       'NAME_3']]
gdf_all.head(10)

C:\Users\ioanna.papachristou\AppData\Local\Continuum\anaconda3.7\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,locationID,name,type,hierarchy,GID_0,GID_1,GID_2,GID_3,NAME_0,NAME_1,NAME_2,NAME_3
0,KEN,Kenya,Country,0,KEN,NaN,NaN,NaN,Kenya,NaN,NaN,NaN
1,ETH,Ethiopia,Country,0,ETH,NaN,NaN,NaN,Ethiopia,NaN,NaN,NaN
2,SOM,Somalia,Country,0,SOM,NaN,NaN,NaN,Somalia,NaN,NaN,NaN
3,KEN.1_1,Baringo,Region1,1,KEN,KEN.1_1,NaN,NaN,Kenya,Baringo,NaN,NaN
4,KEN.2_1,Bomet,Region1,1,KEN,KEN.2_1,NaN,NaN,Kenya,Bomet,NaN,NaN
5,KEN.3_1,Bungoma,Region1,1,KEN,KEN.3_1,NaN,NaN,Kenya,Bungoma,NaN,NaN
6,KEN.4_1,Busia,Region1,1,KEN,KEN.4_1,NaN,NaN,Kenya,Busia,NaN,NaN
7,KEN.5_1,Elgeyo-Marakwet,Region1,1,KEN,KEN.5_1,NaN,NaN,Kenya,Elgeyo-Marakwet,NaN,NaN
8,KEN.6_1,Embu,Region1,1,KEN,KEN.6_1,NaN,NaN,Kenya,Embu,NaN,NaN
9,KEN.7_1,Garissa,Region1,1,KEN,KEN.7_1,NaN,NaN,Kenya,Garissa,NaN,NaN

In [12]:
# Export to parquet
gdf_all.to_parquet('location_table.parquet',
              compression='uncompressed')

In [13]:
# Open parquet file
result = pd.read_parquet('location_table.parquet', engine='fastparquet')
result.head()

,locationID,name,type,hierarchy,GID_0,GID_1,GID_2,GID_3,NAME_0,NAME_1,NAME_2,NAME_3
0,KEN,Kenya,Country,0,KEN,None,None,None,Kenya,None,None,None
1,ETH,Ethiopia,Country,0,ETH,None,None,None,Ethiopia,None,None,None
2,SOM,Somalia,Country,0,SOM,None,None,None,Somalia,None,None,None
3,KEN.1_1,Baringo,Region1,1,KEN,KEN.1_1,None,None,Kenya,Baringo,None,None
4,KEN.2_1,Bomet,Region1,1,KEN,KEN.2_1,None,None,Kenya,Bomet,None,None